@import '../../common/styles/functions.scss';

.movie-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  .image-container,
  .details-container {
    padding: rem-calc(15px);
    box-sizing: border-box;
    flex: 1 0 100%;
  }

  .image-container {
    overflow: hidden;

    .image {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .details-container {
    background: $color-background-main;
  }

  .title {
    font-size: rem-calc(32px);
    font-weight: $global-font-weight-bold;
  }

  .released,
  .description {
    margin: rem-calc(15px 0 0);
    font-size: rem-calc(20px);
    line-height: rem-calc(25px);
  }

  @media #{$medium-up} {
    flex-direction: row;

    .image-container,
    .details-container {
      flex: 1 0 50%;
    }

    .image-container {
      padding: rem-calc(0 15px 0 0);
    }
  }
}
