@import '../../common/styles/functions.scss';

.search-box {
  display: flex;

  input {
    flex: 1 0 auto;
  }

  button {
    flex: 0 1 auto;
  }

  @media #{$medium-up} {
    font-size: rem-calc(26px);
  }
}
