@import '../../common/styles/functions.scss';

.movies-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  &-item {
    margin: rem-calc(15px 0 0);
    flex: 1 0 100%;
  }

  @media #{$medium-up} {
    margin: rem-calc(0 0 0 -15px);

    .movies-list-item {
      margin: rem-calc(15px 0 0 15px);
      flex: 1 0 rem-calc(240px);
    }
  }
}
