@import '../../common/styles/functions.scss';

.movies-list {
  overflow: hidden;

  &-item {
    padding: rem-calc(15px 0 0);
    width: 100%
  }

  @media #{$medium-up} {
    margin: rem-calc(0 -8px);

    .movies-list-item {
      float: left;
      width: 50%;
      padding: rem-calc(15px 8px 0);
      box-sizing: border-box;
    }
  }

  @media #{$large-up} {
    margin: rem-calc(0 -8px);

    .movies-list-item {
      width: 25%;
    }
  }

  @media #{$xl-large-up} {
    margin: rem-calc(0 -8px);

    .movies-list-item {
      width: 20%;
    }
  }
}
